// В этом файле должны быть стили для БЭМ-блока new-wines, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.new-wines {

  $block-name:                &; // #{$block-name}__element

  z-index: 20;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__bg {
    position: absolute;
    z-index: -1;
    width: 110%;
    height: 110%;
    filter: blur(0.5rem);

    @media (min-width: $screen-xs) {
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/new-wines-bg-01-640p.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/new-wines-bg-01-1280p.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .no-webp & {
          background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/new-wines-bg-01-1280p.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }

      .no-webp & {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/new-wines-bg-01-640p.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    @media (min-width: $screen-lg) {
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/new-wines-bg-01-1280p.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/new-wines-bg-01-2560p.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .no-webp & {
          background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/new-wines-bg-01-2560p.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }

      .no-webp & {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/new-wines-bg-01-1280p.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    @media (min-width: $screen-xxl) {
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/new-wines-bg-01-2560p.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .no-webp & {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/new-wines-bg-01-2560p.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  &__heading {
    @include to(1000px) {
      font-size: 8rem;
      text-align: center;
    }

    @include to(600px) {
      font-size: 6rem;
    }

    margin: 0;
    margin-bottom: 7rem;

    font-size: 10rem;
    font-weight: 300;
    color: $text-color-accent;
    user-select: none;
  }

  &__img-wrapper.picture {
    @include to(1000px) {
      width: 90%;
    }

    @include to(600px) {
      width: 80%;
    }

    width: 61%;
  }

  &__img {
    width: inherit;
    border: 0.1rem solid #fff;
    padding: 1rem;
    opacity: 0.7;
  }
}
