extends ../pug/layout.pug

append config
  -
    currentTitle = 'Wine house'
    currentDescription = 'Wine house website'
    currentUrl = 'index.html'

block content
  section.hero#hero
    .section-wrapper.hero__wrapper
      .hero__heading-wrapper
        h1.hero__heading The best wines around the world
  ///.hero
