extends ../pug/layout.pug

append config
  -
    currentTitle = 'Wine house'
    currentDescription = 'Wine house website'
    currentUrl = 'index.html'

block header
  block nav
    .navbar
      a.logo__link(href='#')
        +picture({
          'img': 'logo-01',
          'alt': 'Logo',
          'lg': false,
          'ext': 'png'
        }, 'logo__img').logo__img-wrapper

      nav.navbar__list
        a.navbar__link(href='#hero') Home
        a.navbar__link(href='#sale') Vineyards
        a.navbar__link(href='#wineyards') Grapes
        a.navbar__link(href='#new-wines') Wine
        a.navbar__link(href='#contact') Contact
    ///.navbar

block content
  button.page__btn.page__btn--left
    img(src='/img/arrow.png', alt='Arrow icon')
  button.page__btn.page__btn--right
    img(src='/img/arrow.png', alt='Arrow icon')

  .progress__wrapper
    .progress
      h2 1/5
    .progress__circles-wrapper
      .progress__circle
      .progress__circle
      .progress__circle
      .progress__circle
      .progress__circle
  ///.progress

  section.hero#hero
    .section-wrapper.hero__wrapper
      .hero__heading-wrapper
        h1.hero__heading The best wines around the world
  ///.hero

  section.sale#sale
    .sale__wrapper.section-wrapper
      .sale__order
        +picture({
          'img': 'sale-01',
          'alt': 'Sale bag',
          'lg': false,
          'ext': 'png'
        }, 'sale__img').sale__img-wrapper.sale__img-wrapper--bag
        +btn('order now!').sale__btn(href='#')
      +picture({
        'img': 'sale-02',
        'alt': 'Wine Bottle',
        'lg': false,
        'ext': 'png'
      }, 'sale__img').sale__img-wrapper.sale__img-wrapper--bottle
  ///.sale

  section.wineyards#wineyards
    .wineyards__wrapper.section-wrapper
      h2.wineyards__heading the best quality
      +picture({
        'img': 'wineyards-01',
        'alt': 'Grapes Frame',
        'lg': false,
        'ext': 'png'
      }, 'wineyards__img').wineyards__img-wrapper.wineyards__img-wrapper--frame
      +picture({
        'img': 'wineyards-02',
        'alt': 'Grapes',
        'lg': false,
        'ext': 'png'
      }, 'wineyards__img').wineyards__img-wrapper.wineyards__img-wrapper--grapes
  ///.wineyards

  section.new-wines#new-wines
    .new-wines__wrapper.section-wrapper
      .new-wines__bg
      h2.new-wines__heading Newly Released Wines
      +picture({
        'img': 'new-wines-bg-01',
        'alt': 'New Wines',
        'lg': false,
        'ext': 'jpg'
      }, 'new-wines__img').new-wines__img-wrapper
  ///.new-wines

  section.contact#contact
    .contact__wrapper.section-wrapper
      ul.contact__list
        li Contact
        li NY
        li 1039 Stanley Avenue
        li Open Daily
        li By appointment only
      +picture({
        'img': 'contact-01',
        'alt': 'Wine products',
        'lg': false,
        'ext': 'png'
      }, 'contact__img').contact__img-wrapper
      ul.contact__list
        li Connect
        li PN: 516-448-2763
        li MN: 631-742-8400
        li example@winehouse.com
        li Join our mailing list
      p.contact__copyright
        | Copyright &copy; CodeAndCreate. All Rights Reserved
  ///.contact
