// В этом файле должны быть стили для БЭМ-блока wineyards, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.wineyards {

  $block-name:                &; // #{$block-name}__element

  z-index: 50;
  overflow: hidden;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $screen-xs) {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../img/wineyards-bg-01-640p.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../img/wineyards-bg-01-1280p.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .no-webp & {
          background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../img/wineyards-bg-01-1280p.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }

      .no-webp & {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../img/wineyards-bg-01-640p.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    @media (min-width: $screen-lg) {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../img/wineyards-bg-01-1280p.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../img/wineyards-bg-01-2560p.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .no-webp & {
          background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../img/wineyards-bg-01-2560p.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }

      .no-webp & {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../img/wineyards-bg-01-1280p.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    @media (min-width: $screen-xxl) {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../img/wineyards-bg-01-2560p.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .no-webp & {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../img/wineyards-bg-01-2560p.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  &__heading {
    margin: 0;
    transform: rotate(-20deg);

    font-size: 20rem;
    text-transform: uppercase;
    text-align: center;
    color: #ccc;

    text-shadow: 0 0.5rem 1.5rem #000;
    user-select: none;
  }

  &__img-wrapper {
    position: absolute;
    width: 100rem;
    opacity: 0.5;

    &--grapes {
      width: 40rem;
      opacity: 0.7;
    }
  }
}
